.login_div1,
.login_div2 {
    background: white;
    padding: 10px;
    float: none;
    border-radius: 15px;
}

#player1_name,
#player2_name {
    display: inline-block;
    margin-left: 20px;
}

#word {
    width: 60%;
}

#word_display {
    letter-spacing: 5px;
}

#output {
    background: white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    background: #7a7a7a;
}

nav {
    float: left;
    width: 30%;
    height: 300px;
    background: #ccc;
    padding: 20px;
    background: url("svg_img.svg");
    background-size: cover;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background: url("Sprinkle.svg");
    padding: 10px;
    text-align: center;
    color: white;

}

@media (max-width: 600px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

.login_div1,
.login_div2 {
    width: 99%;
    margin-bottom: 5px;
}